<div class="container">
    <h2>Job List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Job Title</th>
          <th>Company Name</th>
          <th>Location</th>
          <th>Employment Type</th>
          <th>Job Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td>{{ job.jobTitle }}</td>
          <td>{{ job.companyName }}</td>
          <td>{{ job.location }}</td>
          <td>{{ job.employmentType }}</td>
          
          <!-- Job Status with Badge -->
          <td>
            <span [ngClass]="{
              'badge bg-success': job.jobStatus === 'Open',
              'badge bg-warning': job.jobStatus === 'Pending',
              'badge bg-danger': job.jobStatus === 'Closed'
            }">
              {{ job.jobStatus }}
            </span>
          </td>
          
          
        </tr>
      </tbody>
    </table>
</div>
